<h3>Demo App</h3>
<label>
	Example Text Input
	<input type="text" trump-event="blur:textInput_blur" trump-event="focus:textInput_focus" placeholder="Example Text Input"<%=obj.textInputValue ? 'value="' + textInputValue + '"' : "" %> />
</label>