<h3>Demo App</h3>
<label trump-event="click:label_click">
	Example Text Input
	<input type="text" trump-event="blur:textInput_blur, focus:textInput_focus, click:textInput_click, mouseover:textInput_mouseover" placeholder="Example Text Input"<%=obj.textInputValue ? 'value="' + textInputValue + '"' : "" %> />
</label>