<div trump-event="click:wrapper_click" style="height:500px">
	<h1>This is my template</h1>
	<div trump-event="mouseup:incrementMe_mouseup">
		<input type="button" trump-event="click:changeTemplate_click" value="Change Template" />
		<input type="button" trump-event="click:incrementMe_click" value="Increment Me" />
		<div>
			<input type="button" trump-event="click:incrementMe_click" value="Increment Me" />
			<div>
				<input type="button" trump-event="click:incrementMe_click" value="Increment Me" />
				<div>
					<input type="button" trump-event="click:incrementMe_click" value="Increment Me" />
				</div>
			</div>
		</div>
		<input type="button" trump-event="click:incrementMe_usingEventContext_click" value="Increment Me Using Event Context" />
	</div>
	<% if (obj.isLargeCounter) { %>
	<h2>Counter value: <%=counterValue %></h2>
	<% } else { %>
	<p>Counter value: <%=counterValue %></p>
	<% } %>
	<div style="width: 100px;height: 100px;background-color: red;" trump-event="mouseover:test_mouseover">&nbsp;</div>
</div>