<h1>This is my template</h1>
<input type="button" trump-event="click:incrementMe_click" value="Increment Me" />
<div style="width: 100px;height: 100px;background-color: red;" trump-event="mouseover:test_mouseover">&nbsp;</div>